<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 2</key>
	<dict>
		<key>image</key>
		<string>icon_comment.png</string>
		<key>name</key>
		<string>评语</string>
		<key>content</key>
		<string>评语查询</string>
		<key>controller</key>
		<string>CommentViewController</string>
	</dict>
	<key>New item</key>
	<dict>
		<key>title</key>
		<string>活动专区</string>
		<key>image</key>
		<string>main_activity.png</string>
		<key>isOption</key>
		<true/>
		<key>controller</key>
		<string>ActivityAreaViewController</string>
	</dict>
	<key>MainTab</key>
	<array>
		<dict>
			<key>title</key>
			<string>求助</string>
			<key>image</key>
			<string>help.png</string>
			<key>highlightedImage</key>
			<string>menu_2_h_800.png</string>
			<key>controller</key>
			<string>HelpViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关注</string>
			<key>image</key>
			<string>keep.png</string>
			<key>highlightedImage</key>
			<string>menu_3_h_800.png</string>
			<key>controller</key>
			<string>KeepViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>圈子</string>
			<key>image</key>
			<string>circle.png</string>
			<key>highlightedImage</key>
			<string>menu_1_h_800.png</string>
			<key>controller</key>
			<string>HSCircleViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>超市</string>
			<key>image</key>
			<string>super.png</string>
			<key>highlightedImage</key>
			<string>menu_4_h_800.png</string>
			<key>controller</key>
			<string>SupermarketViewController</string>
		</dict>
	</array>
	<key>Set</key>
	<array>
		<dict>
			<key>title</key>
			<string>清除缓存</string>
		</dict>
		<dict>
			<key>title</key>
			<string>用户反馈</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关于我们</string>
		</dict>
	</array>
	<key>QADatas</key>
	<dict>
		<key>grades</key>
		<array>
			<string>小学一年级</string>
			<string>小学二年级</string>
			<string>小学三年级</string>
			<string>小学四年级</string>
			<string>小学五年级</string>
			<string>小学六年级</string>
			<string>初中一年级</string>
			<string>初中二年级</string>
			<string>初中三年级</string>
			<string>高中一年级</string>
			<string>高中二年级</string>
			<string>高中三年级</string>
		</array>
		<key>subjects</key>
		<array>
			<string>语文</string>
			<string>数学</string>
			<string>英语</string>
			<string>政治</string>
			<string>历史</string>
			<string>地理</string>
			<string>生物</string>
			<string>物理</string>
			<string>化学</string>
			<string>体育</string>
			<string>音乐</string>
			<string>美术</string>
			<string>其他</string>
		</array>
	</dict>
	<key>HSData</key>
	<array>
		<dict>
			<key>image</key>
			<string>icon_home.png</string>
			<key>name</key>
			<string>作业</string>
			<key>content</key>
			<string>作业查询</string>
			<key>controller</key>
			<string>HomeWorkViewController</string>
		</dict>
		<dict>
			<key>image</key>
			<string>icon_achievement.png</string>
			<key>name</key>
			<string>成绩</string>
			<key>content</key>
			<string>成绩查询</string>
			<key>controller</key>
			<string>AchievementViewController</string>
		</dict>
		<dict>
			<key>image</key>
			<string>ic_teachs_message.png</string>
			<key>name</key>
			<string>老师说</string>
			<key>content</key>
			<string>老师说</string>
			<key>controller</key>
			<string>NoticeViewController</string>
		</dict>
		<dict>
			<key>image</key>
			<string>news.png</string>
			<key>name</key>
			<string>资讯</string>
			<key>content</key>
			<string>资讯</string>
			<key>controller</key>
			<string>NewsListViewController</string>
		</dict>
	</array>
</dict>
</plist>
